body{
	margin: 0;
	padding: 0;
	background-color:#f0f2f5;

}
#face-book{
	width:230px;
}
.first{
	background-color:#f0f2f5(240, 233, 233);
	position:absolute;
	display:flex;
	top:150px;
	left:340px;

	font-family: sans-serif;
	padding-right: 80px;
	padding-bottom: 40px;
}
#inputs{
	margin: 20px 5px;
	display:block;
	justify-content:space-between;
	border: 1px groove rgb(218, 211, 211);
	border-radius: 5px;
	text-align:justify;
}
#forms{
	position:relative;
	background-color: rgb(255, 255, 255);
	margin-bottom:10px;
	margin-right: 20px;	
	margin-left: 30px;
	border-radius: 15px;
	padding-top: 10px;
	padding-left: 10px;
}
#form{
	margin-right: 30px;
}
#vhod{
	color:rgb(255, 255, 255);
	margin-left: 5px;
	margin-top: 10px;
	background-color: royalblue;
	left: 10px;
	width:320x;
	
	border: 1px groove rgb(17, 8, 156);
	border-radius: 5px;
}
#vhod:hover{
	background-color:rgb(9, 9, 133);
}
.parol{
	color:blue;
	background-color: white;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	width:320x;
	text-align: center;
	border-bottom: 1px groove rgba(253, 253, 253, 0.863);
	padding-bottom: 20px;
	text-decoration: none;

}
.parol > a {
	text-decoration: none;
}
.parol > a:hover {
	text-decoration: underline;
}
#but{
	background-color: rgb(17, 197, 26);
	color: white;
	margin: 0px 140px 20px;
	border: 1px groove rgb(255,255,255);
	border-radius: 5px;
	padding:10px 5px 28px 5px;
}
#but:hover{
    background-color: rgb(15, 146, 22);

}
.ret{
	display: flex;
	margin-top: 10px;
}
.soz{
	color:black;
	margin-left: 15px;
	text-align: center;
}
.soz > a{
	font-weight:bolder;
	color:black;
	text-decoration: none;
}
.soz >a:hover{
	text-decoration: underline;
}
#lambo{
	width:100%;
	align-items: center;
    overflow: hidden;
    text-align: center;
	
}
.yazik{
  color:black;
  margin-left: 15px;
  text-align: center;
}
.yazik > button {
	height: 5px;
	width: 25px;
	padding: -5px 0px;
	font-size: 1.5em;
	margin-top: -5px;
	text-align:center;
	padding-bottom: 20px;
}

.tgg{	
	padding-top: 30px;		
	display:flex;
	padding-left: 290px;
	padding-right: -80px;
	padding-top: 20px;
	font-size:13px;
	background-color: white;
	width: 1246px;
	overflow: hidden;	
	margin-top: 600px;
    text-decoration: none;
	
}
.tgg > li > a {
	padding-bottom: 10px;
	text-decoration: none;
}
.lan{
   font-size: 20px;
}
.tgg > li{	
	padding-top: 30px;
	padding-left: 0px;
	text-align: center;
	padding-bottom: 10px;
	overflow: hidden;
	text-decoration: none;
}
.tgg > li > a:hover {
	text-decoration: underline;
}
.tg > li > a > button {
	color:rgb(6, 90, 52)
	
}
.tgg2{		
	
	display:flex;
	padding-top: 20px;
	font-size:13px;
	padding-left: 290px;
	padding-right: -80px;
	text-align: center;
	background-color: white;
	width: 1246px;
	overflow: hidden;	
	margin-top: -40px;
    flex-flow: row;
	text-align: center;
	padding-top: 20px;
	
}
#burruons{
	color:blueviolet;
}

.tgg2 > li{	
	
	padding-left: px;
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
	border-top: 1px solid black;
}
.tgg2 > li > a {
	text-decoration: none;
}
.tgg2 > li > a:hover {
	text-decoration: underline;
}
.tgg3{		
	
	display:flex;
	padding-top: 20px;
	font-size:13px;
	padding-left: 290px;
	padding-right: -80px;
	text-align: center;
	background-color: white;
	width: 1246px;
	overflow: hidden;	
	margin-top: -40px;
    flex-flow: row;
	text-align: center;
	padding-top: 20px;
	
}


.tgg3 > li{	
	
	padding-left: px;
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
}
.tgg3 > li > a {
	text-decoration: none;
}
.tgg3 > li > a:hover {
	text-decoration: underline;
}
.tgg4{		
	
	display:flex;
	padding-top: 20px;
	font-size:13px;
	padding-left: 290px;
	padding-right: -80px;
	text-align: center;
	background-color: white;
	width: 1246px;
	overflow: hidden;	
	margin-top: -40px;
    flex-flow: row;
	text-align: center;
	padding-top: 20px;
	
}


.tgg4 > li{	
	
	padding-left: px;
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
}
.tgg4 > li > a {
	text-decoration: none;
}
.tgg4 > li > a:hover {
	text-decoration: underline;
}
.tgg5{		
	
	display:flex;
	padding-top: 20px;
	font-size:13px;
	padding-left: 290px;
	padding-right: -80px;
	text-align: center;
	background-color: white;
	width: 1246px;
	overflow: hidden;	
	margin-top: -40px;
    flex-flow: row;
	text-align: center;
	padding-top: 20px;
	
}


.tgg5 > li{	
	
	padding-left: 10px;
	padding-top: 30px;
	text-align: center;
	overflow: hidden;
}
